// Layout variables partial

$section-padding: 40px 0;

section.intro, section.ceremony_video, section.gph_map, section.eng-pics, section.faqs, section.rsvp {
	background: $section-light;
}
section.blog, section.pictures, section.photography, section.features, section.venues, section.parking, section.events, section.map, section.invitation {
	background: $section-dark;
}